.tweet {
  background-color: #f5fAff;
  width: 90%;
  font-size: 1.35em;
}

.name {
  font-weight: bold;
}

.handle {
  color: gray;
}

.relevance {
  
}

.age {
  
}

.text {
  font-size: 1.4em;
}

.content {
  padding-left: 12px;
  padding-right: 10px;
  overflow: auto;
  background-color: #ffffff;
}

.scores {
  width: auto;
  height: 100px;
  display: none;
  overflow: hidden;
  padding-left: 20px;
}

.tweet_footer {
  padding-left: 10px;
}

.bar_wrap {
  width: 16.6%;
  height: 100%;
  display: inline-block;
  float: left;
}

.bar_container {
  padding-left: 4px;
}

.bar_container, .icon_container {
  display: inline-block;
  height: 50%;
  width: 90%;
  margin: 1%;
  position: relative;
}

.bar {
  width: 10px;
  background: #002147;
  position: absolute;
  bottom: 0;
}
