.tweet {
  background-color: #f5fAff;
  width: 90%;
  font-size: 1.35em;
}

.name {
  font-weight: bold;
}

.handle {
  color: gray;
}

.relevance {
  
}

.age {
  
}

.text {
  font-size: 1.4em;
}

.content {
  padding-left: 12px;
  padding-right: 10px;
  overflow: auto;
  background-color: #ffffff;
}
