@(u: algorithms.algorithms.User)

@main(List(), "usersettings.js") {

<!-- Scripts for Google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<h2>User Settings</h2>

<div class='block'>
  <h3>You are following...</h3>
  <div id='users'>
    <h4>Users &nbsp;<i class='glyphicon glyphicon-user'></i></h4>
    <div>
      <input type='text' id='addUserName' placeholder='add user'>
      <input type='button' id='addUserButton' value='+'>
      <br>
      <p id='userError' class='error'>
        <!-- Error messages will go here -->
      </p>
    </div>
	  <div class='scrollList'>
      <ul id='userList'>
        <!-- The list of users will go here -->
      </ul>
	  </div>
  </div>
  <br/><br/>
  <div id='hashtags'>
    <h4>Hashtags &nbsp;<i class='glyphicon glyphicon-tags'></i></h4>
    <div>
      <input type='text' id='addHashtagName' placeholder='add hashtag'>
      <input type='button' id='addHashtagButton' value='+'>
      <br>
      <p id='hashtagError' class='error'>
        <!-- Error messages will go here -->
      </p>
    </div>
    <div class='scrollList'>
      <ul id='hashtagList'>
        <!-- The list of hashtags will go here -->
      </ul>
    </div>
  </div>
  <br/><br/>
  <div>
    <h3>Your location</h3>
    <p>Click on a location on the map to select it. Drag the marker to change location.</p>
        
    <div id='map'></div>
      <br/>
      <div id='location'>
        Longitude &nbsp; <input type="text" id="lat" readonly="yes"> &nbsp;&nbsp;&nbsp;&nbsp;
        Latitude &nbsp; <input type="text" id="lng" readonly="yes"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type='button' value='Update Location'>
    </div>
  </div>
</div>

<script type="text/javascript">
  var users = [
    @for(u <- u.usersFollowing){
      "@@@u",
    }
  ];

  var hashtags = [
    @for(h <- u.hashtagsFollowing){
      "#@h",
    }
  ];
</script>

}
